.header-bottom.header-bottom--education {
  position: relative;
  top: auto;
  left: auto;
  box-shadow: none;
}

.header-mobile.header-mobile--education {
  position: absolute;
}

.ico-svg.ico-svg--education {
  width: 28px;
  height: 26px;
  margin-top: -4px;
}

.title-block {
  padding-top: 40px;
}

.catalog-section__filter {
  margin: 0 0 25px;
}

.search-pane-input {
  transition: border-color 0.2s, background-color 0.2s;

  &:not(:focus):hover {
    background-color: #e6e6ef;
    border-color: #e6e6ef;
  }
}

.search-pane__result {
  @include font(16px, 26px, 400, $text-minor);
  margin-top: 24px;
}

div.up-btn {
  bottom: 50px;
  z-index: 100;
}

@media only screen and (max-width: 700px) {
  div.up-btn {
    // display: inherit !important;
    right: 18px;
    bottom: 20px;

    &.importantClass {
      display: block !important;
    }
  }
}

.catalog-section.programs-catalog + .education-contact-us .container {
  padding-left: 0;
  padding-right: 0;
}
