.header-bottom.header-bottom--education {
  position: relative;
  top: auto;
  left: auto;
  box-shadow: none;
}

.header-mobile.header-mobile--education {
  position: absolute;
}

.ico-svg.ico-svg--education {
  width: 28px;
  height: 26px;
  margin-top: -4px;
}

.title-block {
  padding-top: 40px;
}

.catalog-section__filter {
  margin: 0 0 25px;
}
