.button {
  @include font(14px, 16px, 500, #fff);
  display: inline-block;
  padding: 20px;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: color 0.2s;

  &:hover {
    cursor: pointer;
    background-color: $primary-dark;
  }
}
