.program-card__categories-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.program-card__categories {
  padding-top: 45px;

  .categories__type {
    position: relative;
    @include font(16px, 19px, 400, $text-minor);
    padding-right: 14px;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $text-minor;
      transform: translateY(-50%);
    }
  }
}

.program-card__promo {
  padding-top: 40px;
}

.program-card__promo-container {
  display: flex;
}

.program-card__promo-img-block {
  width: 49%;
  max-width: 666px;
  flex-shrink: 0;
  margin-right: 48px;
}

.program-card__promo-img-wrap {
  padding-top: 56%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.program-card__time-label {
  @include font(16px, 19px, 400, $text-minor);
  padding: 11px 16px 9px 56px;
  background-color: $bg;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin: 0 0 32px;

  svg {
    position: absolute;
    top: 50%;
    left: 16px;
    display: block;
    width: 24px;
    height: 24px;
    color: $text-main;
    transform: translateY(-50%);
  }
}

.program-card__promo-title {
  @include font(18px, 22px, 500, $text-main);
  margin: 0 0 16px;
}

.program-card__promo-desc {
  @include font(16px, 24px, 400, $text-minor);
  margin: 0 0 18px;

  &.overflow-5lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    box-orient: vertical;
  }
}
