.title-block__title-btn {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title-block__btn {
  width: 266px;
}

@include tablet {
  .title-block__title-btn {
    flex-direction: column;
  }
}

@include mobile {
  .title-block__btn {
    width: 100%;
  }
}
