.button,
.button-light {
  @include font(14px, 16px, 500, #fff);
  display: inline-block;
  padding: 20px;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  transition: color 0.2s, background-color 0.2s;

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    color: #fff;
    background-color: $primary-dark;
  }
}

.button-light {
  padding: 18px;
  border: 2px solid $primary;
  background-color: #fff;
  color: $text-main;

  &:not(:disabled):hover {
    color: $primary;
    background-color: #fff;
  }
}

.btn-arrow {
  display: inline-flex;
  align-items: center;
  padding: 3px 0;
  @include font(16px, 19px, 500, $primary);
  background-color: transparent;
  border: none;

  span:last-of-type {
    display: none;
  }

  span:first-child {
    display: block;
  }

  svg {
    width: 24px;
    height: 24px;
    display: block;
    margin-bottom: 2px;
    transform: rotate(180deg);
  }

  &:hover {
    cursor: pointer;
    color: $primary-dark;
  }
}

.btn-arrow.opened {
  span:first-child {
    display: none;
  }

  span:last-of-type {
    display: block;
  }

  svg {
    transform: rotate(0);
  }
}

.btn-large {
  display: block;
  padding: 29px;
  width: 100%;
  @include font(16px, 23px, 500, $text-main);
  background-color: #fff;
  border: 1px solid #d1d8e1;
  border-radius: 5px;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    color: $primary-dark;
    border-color: $primary-dark;
  }
}
