//ШРИФТЫ
//$font: "SuisseIntl", "Arial", serif;

$desktop: 1440px;
$tablet: 1025px;
$mobile: 768px;
$desktop-gap: 40px;
$mobile-gap: 18px;

$primary: #2858ff;
$primary-dark: #113ee0;
$text-main: #1a1a1a;
$text-minor: #6c7684;
$bg: #f4f4f8;
$grey300: #d1d8e1;
